<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">Online Ticket Sales</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a asp-controller="Shop" asp-action="List" class="nav-link">Tickets</a>
            </li>

            @if (User.Identity.IsAuthenticated)
            {

                if (User.IsInRole("admin"))
                {
                    <li class="nav-item">
                        <a asp-controller="Admin" asp-action="CreateTicket" class="nav-link">Add Ticket</a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Admin" asp-action="TicketList" class="nav-link">Admin Tickets</a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Admin" asp-action="CreateCategory" class="nav-link">Add Company</a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Admin" asp-action="CategoryList" class="nav-link">Admin Companies</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a asp-controller="Cart" asp-action="Index" class="nav-link">Reservations</a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Cart" asp-action="GetOrders" class="nav-link">Received tickets</a>
                    </li>
                }
            }
        </ul>

        <ul class="navbar-nav ml-auto">

            @if (User.Identity.IsAuthenticated)
            {
                <li class="nav-item">
                    <a asp-controller="Account" asp-action="Manage" class="nav-link">
                        @User.Identity.Name
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Account" asp-action="Logout" class="nav-link">Logout</a>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a asp-controller="Account" asp-action="Login" class="nav-link">Login</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Account" asp-action="Register" class="nav-link">Register</a>
                </li>
            }
        </ul>
    </div>
</nav>